// @import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
  
.menu-container{
    &:nth-child(3){
   margin-top: 200px;
    }
    nav.nav__header{
        width: 100%;
        display: flex;
        justify-content:flex-end;
    }
    
}

.menu__toggle{
 
    display: flex;
    justify-content: center;
    align-items: center;
    .dropdown{
      width: 130px;
        display: block;
       border:1px dashed rgb(212, 212, 212);
       padding: 3px 20px;
       display: flex;
       justify-content:end;
       align-items: center;
       color: #333;
       background: #ffff;
       position: relative;
       font-size: 16px;
       perspective: 1000px;
       z-index: 100;
       &:hover{
           background: #ffffff ;
         cursor: pointer;
       }
       &:hover .dropdown_menu li{
           display: block;
       }
     }
}
 .dropdown_menu{
   position: absolute;
   top: 107%;
   left: 0;
   width: 100%;
   perspective: 1000px;
   z-index: -1;
   li{
    display: none;
    color: #ffff;
    background-color: #1d1919;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;
    &:hover{
      background: radial-gradient(circle, rgba(14,170,228,0.9923319669664741) 0%, rgba(31,156,215,1) 53%);
    }
   }
 }
// Menu as a whole animated
.dropdown:hover .dropdown_menu--animated{
  display: block;
}
    
.dropdown_menu--animated{
      display: none;
    li{
       display: block;
      opacity: 1;
    }
}

.dropdown_menu-10{
   animation: rotateY 300ms ease-in-out forwards;
    transform-origin: top center;
}
   

@keyframes rotateY {
     0% {
        transform: rotateY(90deg);
    }
    80% {
        transform: rotateY(-10deg);
    }
    100% {
        transform: rotateY(0);
    }
}